<html>
    <head>
        <title>Contract trading tool</title>
    </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.0/theme-chalk/index.css">
    <style>
    </style>
    <body>
    <div id="app">
        <el-row>
            <el-col :span="12" :offset="6">
                <el-form label-width="200px" ref="form">
                    <el-form-item label="">
                        <el-button @click="cleanForm" type="danger">Clean form</el-button>
                    </el-form-item>
                    <el-form-item label="leverage">
                        <el-input v-model="form.leverage"></el-input>
                    </el-form-item>
                    <el-form-item label="fee percentage">
                        <span slot="label">
                            <el-tooltip class="item" effect="dark" content="sum of option position and close position" placement="top-start">
                              <span>fee percentage</span>
                            </el-tooltip>
                        </span>
                        <el-input v-model="form.fee"></el-input>
                    </el-form-item>
                    <el-form-item label="fee percentage with leverage">
                        <div v-if="form.leverage && form.fee">
                            {{ form.leverage * form.fee }}
                        </div>
                        <div v-else>fill leverage and percentage first!</div>
                    </el-form-item>
                    <el-form-item label="target prize high">
                        <el-input v-model="form.targetPrizeHigh"></el-input>
                    </el-form-item>
                    <el-form-item label="target prize low">
                        <el-input v-model="form.targetPrizeLow"></el-input>
                    </el-form-item>
                    <el-form-item label="profit">
                        <div v-if="profit">
                            {{ profit }} %
                        </div>
                        <div v-else>Fill target prize both high and low</div>
                    </el-form-item>
                    <el-form-item label="profit with leverage">
                        <div v-if="profit && form.leverage">
                            {{ profit * form.leverage }} %
                        </div>
                        <div v-else>Fill profit related and leverage</div>
                    </el-form-item>
                </el-form>
            </el-col>
        </el-row>
    </div>
    <script src="plugins/vue.js"></script>
    <script src="plugins/element.min.js"></script>
    <script src="plugins/moment.min.js"></script>
    <script type="text/javascript">
        let form = {
            fee: null,
            leverage: null,
            targetPrizeHigh: null,
            targetPrizeLow: null,
        };

        function getVueWatch() {
            let watchObject = {};
            Object.keys(form).forEach(key => {
                watchObject['form.' + key] = function () {
                    localStorage.setItem('form', JSON.stringify(this.form));
                }
            });

            return watchObject;
        }

        new Vue({
            el: '#app',
            data() {
                let storageForm = JSON.parse(localStorage.getItem('form'));

                return {
                    constants: constants,
                    form: (storageForm) ? this.fixEmptyFormProperty(storageForm, form) : form,
                };
            },
            computed: {
                profit: function () {
                    if (!this.form.targetPrizeHigh || !this.form.targetPrizeLow) {
                        return null;
                    }

                    return (this.form.targetPrizeHigh - this.form.targetPrizeLow) / this.form.targetPrizeHigh * 100;
                },
            },
            methods: {
                cleanForm() {
                    this.form = form;
                },
                fixEmptyFormProperty(storageForm, originForm) {
                    Object.keys(originForm).forEach(originKey => {
                        if (storageForm[originKey] === undefined) {
                            storageForm[originKey] = originForm[originKey];
                        }
                    });

                    return storageForm;
                },
                addCycle() {
                    this.form.cycles.push(new Cycle());
                },
            },
            watch: getVueWatch(),
        })
    </script>
    </body>
</html>
